.Input {
  border: none;
  border: 1px solid rgba(var(--color-secondary), 1);
  color: rgba(var(--color-dark-gray), 1);
  border-radius: 3px;
  display: block;
  width: 40rem;
  padding: 1rem 2rem;
  outline: none;

  &:not(:last-child){
    margin-bottom: 1rem;
  }

  // &:placeholder-shown{

  // }

  &--invalid {
    border-color: rgba(var(--color-invalid), 1);
    background-color: rgba(var(--color-invalid-light), 1);
    &:focus {
      border-color: rgba(var(--color-warning), 1);
      background-color: rgba(var(--color-warning-light), 1);
    }
  }

  &--valid {
    border-color: rgba(var(--color-valid), 1);
    background-color: rgba(var(--color-valid-light), 1);
    &:focus {
      background-color: rgba(var(--color-valid-light), 1);
    }
  }
}
